.formGroup{
  position: relative;
}

.formGroup input {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding: 12px;
  height: 58px;
  width: 100%;
  background: #f3f3f3;
  border: none;
  border-radius: 12px;
  position: relative;
}

.formGroup input:focus,
.formGroup input:focus-within {
  outline: none;
}

.formGroup::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #444444;
}

.formGroup.searchBoxIcon::after{
  content: '';
  position: absolute;
  background: url('/public/assets/svg/search.svg');
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}