.formGroup input{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding: 12px;
    height: 58px;
    width: 100%;
    background: #F3F3F3;
    border: none;
}

.formGroup input:focus,
.formGroup input:focus-within{
    outline: none;
}

.formGroup::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #444444;
}