.sliderBox {
  position: relative;
}

.swiperMain {
  max-height: 720px;
  overflow: hidden;
}

.siderText {
  position: absolute;
  bottom: 200px;
  left: 160px;
  max-width: 600px;
  color: #fff;
}

.heroText {
  font-weight: 900;
  font-size: 50px;
  line-height: 120%;
}

.heroDetail {
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
}

.sliderBox img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 99;
  cursor: pointer;
}

.swiper-button-next {
  left: auto;
  right: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  background: url("./sliderPrev.png");
  background-size: cover !important;
  display: block;
  position: relative;
  width: 100%;
  height: 74px;
}

.swiper-button-next::after {
  background: url("./sliderNext.png");
}

.swiper-button-disabled {
  cursor: not-allowed;
}

section {
  padding: 100px 0;
}

.gradientBG {
  background: linear-gradient(180deg, #000000 0%, #757575 100%);
}

.topDetails {
  text-align: center;
  color: #fff;
}

.commonHeading {
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
}

.commonText {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.x3BoxWrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}

.breakerHeading {
  font-weight: 600;
  font-size: 41px;
  line-height: 28px;
  color: #fff;
}

.breakerBlack {
  background: #000 url("./ContactusBG.jpg");
  background-size: cover;
}

.breakerBlack .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 120%;
}

.text-2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
}

.flexBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.aboutLeft {
  max-width: 490px;
  width: 100%;
  line-height: 0;
  border-radius: 8px;
}

.aboutRight {
  max-width: calc(100% - 550px);
}

.aboutWrapper {
  color: #fff;
}

.aboutWrapper .flexBox {
  gap: 60px;
}

.shadowLeft {
  box-shadow: -8px 8px rgb(255 54 76 / 50%);
}

.shadowRight {
  box-shadow: 7px 8px rgb(255 54 76 / 50%);
}

.testimonila {
  background: #000 url("./TestimonialBG.png");
  background-size: cover;
}

.testimonialsBox {
  color: #fff;
  padding: 40px;
  background: #444444;
  box-shadow: 0px 12.3429px 32.9143px rgba(0, 0, 0, 0.12), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12.3429px;
}

.swiperBox {
  max-width: 1140px;
  margin: 0 auto;
}

.testminoal {
  font-weight: 400;
  font-size: 24.6857px;
  line-height: 37px;
}

.testimonialBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

.testiName {
  font-weight: 600;
  font-size: 18.46px;
  line-height: 33px;
  color: #ff364c;
}

.textTesti {
  font-weight: 400;
  font-size: 14.4px;
  line-height: 33px;
}

.commonTable {
  width: 100%;
  color: #fff;
}

.commonTable thead {
  background: #444444;
  text-align: left;
}

.commonTable thead th {
  padding: 10px 16px;
}

.commonTable tbody td {
  padding: 25px 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  border-bottom: 1px solid #999;
}

.redlink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  text-decoration: none;
  color: #ff364c;
}
