header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(98, 98, 98, 0.3);
}

.navigationWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    list-style: none;
}

.navItem{
    display: block;
    position: relative;
}

.navLink{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: #fff;
    position: relative;
    padding: 6px 20px;
    display: block;
    position: relative;
}

.navItem.active .navLink{
    background: #FF364C;
    border-radius: 0px 60px 0px 0px;
}