footer {
  background: #000;
  padding-top: 390px;
  position: relative;
}

.topLevelFooter {
  padding: 60px 90px;
  justify-content: space-between;
  color: #fff;
  background: #444444;
  border-radius: 10px;
  position: absolute;
  top: -250px;
  width: 100%;
  left: 0;
  right: 0;
  max-width: 1280px;
  margin: 0 auto;
}

.topLevelLeft {
  max-width: 580px;
  width: 100%;
}

.topLevelRight {
  max-width: 480px;
  width: 100%;
}

.footerHeading {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
}

.footerText {
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  max-width: 400px;
}

.flexBox.bottomLevelFooter {
  align-items: flex-start;
  padding: 24px 0 45px;
  border-bottom: 1px solid #565656;
  flex-wrap: wrap;
}

.footerHeadingLow{
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.footerLink{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #929292;
  text-decoration: none;
  width: 100%;
}

.footerLinkWrap{
  flex-wrap: wrap;
  max-width: 20%;
}

.footerList {
  gap: 52px;
}

.footerList a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.flexBox.footerSocial {
  padding: 24px 0 40px;
  align-items: center;
}

.footerText {
  color: #fff;
}

.footerText2 {
  font-size: 14px;
}

.socialIcons svg:not(:first-child) {
  margin-left: 24px;
}

.whiteForm {
  padding: 32px;
  background: #fff;
  border-radius: 8px;
}

.topLevelRight button {
  width: 100%;
}

.listBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.listBox span {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.msgSent {
  text-align: center;
  color: #000;
  margin-top: 10px;
}

.footerLinkHeading{
  width: 100%;
  text-decoration: none;
  margin-bottom: 5px;
}

.footerLinkHeading:last-child{
  margin-bottom: 0;
}

.hideitnow{
  padding-top: 20px;
}

.hideitnow .topLevelFooter{
  display: none;
}

.hideitnow .bottomLevelFooter{
  padding-top: 20px !important;
}

.lessSpacingFooter{
  padding-top: 170px;
}

@media (max-width: 767px) {
  .footerLinkWrap{
    max-width: 100%;
    width: 100%;
  }
  .footerLinkWrap:not(:first-child){
    margin-top: 30px;
  }
  .flexBox.footerSocial{
    justify-content: center;
    gap: 25px;
  }
  .flexBox.bottomLevelFooter{
    padding-top: 550px;
  }
  .noContactFooter .topLevelFooter{
    display: none;
  }
  .noContactFooter .bottomLevelFooter{
    padding-top: 40px;
  }
}

footer .sameDesignTextArea{
  height: 80px;
  font-size: 12px;
}