.searchBoxWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.searchBox input::placeholder {
  color: #fff;
}

.searchBox input,
.searchBoxWrap select {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  background: #2b2b2b;
  border-radius: 9.52673px;
  min-height: 58px;
  width: 100%;
  border: none;
  padding: 12px;
  color: #fff;
}

.searchBoxWrap input::placeholder{
  font-size: 18px;
}

.searchBoxWrap > div:first-child{
  width: calc(40% - 10px);
}

.searchBoxWrap > div,
.searchBoxWrap select {
  width: calc(20% - 14px);
}

.flexBox.formDetailWrap {
  color: #fff;
  gap: 65px;
  flex-wrap: nowrap;
}

.heading-3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.text-3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.formRight {
  max-width: 470px;
  width: 100%;
}

.contactForm {
  background: #444444;
}

.contactForm button {
  width: 100%;
}

.formHeading {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #f0f0f0;
  display: block;
  position: relative;
  text-align: center;
}

.multiLevelFormWrap form {
  background: #444444;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.multiLevelFormWrap .talentForm {
  width: calc(50% - 10px);
}

.multiLevelFormWrap .talentForm input::placeholder{
  font-size: 16px;
}

.heading-4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.multiLevelFormWrap .heading-4 {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.partnerWrapper {
  color: #fff;
}

.partnerWrapper .readMore {
  display: none;
}

.partnerWrapper .servciceBox {
  min-height: 245px;
  align-content: center;
}

.partner-select {
  max-width: calc(50% - 10px);
}

.partner-select select {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding: 12px;
  height: 58px;
  width: 100%;
  background: #f3f3f3;
  border: none;
}

.btnWraperCenter {
  text-align: center;
  width: 100%;
}

.btnWraperCenter button {
  min-width: 470px;
}

.partner-select select {
  border-radius: 12px;
  height: 58px;
  width: 100%;
  font-size: 16px;
}


@media (max-width: 767px) {
  .searchBoxWrap{
    gap: 10px;
  }
  .searchBoxWrap > div, .searchBoxWrap select{
    width: 100% !important; 
  }
  .searchBox input, 
  .searchBoxWrap select{
    font-size: 14px;
    line-height: 120%;
  }

  .searchBoxWrap select{
    display: none;
  }

  .resHide{
    display: none;
  }

  .multiLevelFormWrap::placeholder{
    font-size: 16px;
  }

  .multiLevelFormWrap .heading-4{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    margin-bottom: 10px;
  }
  .multiLevelFormWrap .talentForm{
    width: 100%;
  }
  .multiLevelFormWrap form{
    padding: 24px 22px;
  }
  .formGroup input{
    font-size: 12px;
    line-height: 120%;
    height: 40px;
    border-radius: 5px;
  }
  .multiLevelFormWrap form{
    gap: 10px;
  }
  .btnWraperCenter button{
    width: 100%;
    min-width: 100%;
  }
  .partner-select select{
    font-size: 12px;
    line-height: 120%;
    height: 40px;
    border-radius: 5px;
  }
  .partner-select{
    max-width: 100%;
  }
  .multiLevelFormWrap .sameDesignTextArea{
    margin-top: 0 !important;
    font-size: 12px;
    line-height: 120%;
    border-radius: 5px;
  }
  .heading-3{
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
  }
  
  .responsiveTable th:nth-child(3),
  .responsiveTable td:nth-child(3){
      display: none;
  }
  
}

.formLeft .heading-3{
  font-size: 24px;
  line-height: 140%;
}


.formLeft .text-3{
  font-weight: 400;
  font-size: 16px;
}

.formLeft .text-3 strong{
  font-weight: 500;
}

.partnerWrapper .heading-3{
  font-weight: 400;
}

.newHeading-3{
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
}